.card {
    border-radius: 12px;
    width: 300px;
    height: 240px;
    background-color: rgba(255, 255, 255, 0.24);
    background-size: cover;
    position: relative;
    transition-property: box-shadow;
    transition-duration: 0.2s;
    transition-timing-function: ease;
}

.card:hover {
    background-color: white;
}

.card .like {
    position: absolute;
    top: 20px;
    right: 20px;
}

.card .title {
    color: white;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 12px;
    backdrop-filter: blur(4px);
    background: rgba(0,0,0, 0.15);
    box-sizing: border-box;
    border-bottom-left-radius: 12px;
    border-bottom-right-radius: 12px;
}

.external_card {
    position: absolute;
    top: 20px;
    left: 20px;
    z-index: 1;
}

.card_link {
    text-decoration: none;
}

.card:hover {
    box-shadow: 4px 4px 8px rgba(0,0,0, 0.3);
}
