.form {
    margin: auto auto;
    display: flex;
    flex-direction: column;
    height: 600px;
    align-items: flex-start;
    width: 610px;
}

input {
    height: 30px;
    margin-bottom: 10px;
    background: white;
    color: black;
    outline: none;
    border: solid black 1px;
    border-radius: 4px;
    width: 400px;
}

.submit {
    width: 400px;
    margin-top: 20px;
}

.or {
    font-family: 'Titan One';
    font-size: 24px;
    margin-left: 78px;
    margin-top: -28px;
    margin-bottom: 0;
}
