.form {
    margin: auto auto;
    display: flex;
    flex-direction: column;
    height: 600px;
    align-items: flex-start;
    width: 610px;
}

input {
    font-family: 'Titan One';
    height: 30px;
    margin-bottom: 10px;
    font-size: 24px;
    line-height: 36px;
    background: white;
    color: black;
    outline: none;
    border: solid black 1px;
    font-weight: 300;
    border-radius: 4px;
    width: 400px;
}

.submit {
    width: 400px;
    margin-top: 20px;
}

h1 {
    font-size: 55px;
}

p {
    font-size: 40px;
    margin-bottom: 0px;
}

.or {
    margin: -20px 380px auto auto;
}