.external_eat {
    border: solid 1px black;
    width: 116px;
    transition-property: background-color, border;
    transition-duration: 0.25s;
    transition-timing-function: ease;
    height: 23px;
    margin: 1px 1px 0px 1px;
}

.external_eat:hover {
    background-color: #CCC;
    border: none;
}