.external_day {
    height: 23px;
    width: 116px;
    margin: 1px 1px 0px 1px;
    border: solid 1px black;
    transition-property: background-color, border;
    transition-duration: 0.25s;
    transition-timing-function: ease;
}

.external_day:hover {
    background-color: #CCC;
    border: none;
}

.external_day .eat_day {
    display: none;
}

.external_day p {
    margin: 0 0 0 0;
    padding-left: 4px;
}

.external_day:hover .eat_day {
    display: flex;
    background-color: white;
    align-items: flex-start;
    flex-direction: column;
    height: 79px;
    width: 120px;
    margin-left: 118px;
    margin-top: -79px;
    border: solid 1px black;
    border-radius: 4px;
}