.search {
    position: relative;
    width: 100%;
}

.search input {
    font-size: 24px;
    line-height: 36px;
    width: 100%;
    background: white;
    color: #333;
    outline: none;
    border: solid #333 1px;
    border-radius: 4px;
    padding: 4px 12px;
    height: 48px
}

.search img {
    background-color: white;
    position: absolute;
    top: 6px;
    right: 12px;
    height: 35px;
    width: 35px;
}
