@import url('https://fonts.googleapis.com/css?family=Titan+One');

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #F8F8D9;
  font-size: 17px;
  line-height: 24px;
  font-weight: 400;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

body h1 {
  font-family: "Titan One";
  font-size: 48px;
  line-height: 56px;
}

body h2 {
  font-family: "Titan One";
  font-size: 36px;
  line-height: 40px;
}

body h3 {
  font-family: "Titan One";
  font-size: 28px;
  line-height: 32px;
}

body h4 {
  font-family: "Titan One";
  font-size: 24px;
  line-height: 28px;
}

body h6 {
  font-family: "Titan One";
  font-size: 17px;
  line-height: 24px;
}
