@import url('https://fonts.googleapis.com/css?family=Titan+One');

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #F8F8D9;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

body h1 {
  font-size: 60px;
}

body h2 {
  font-size: 45px;
}

body h3 {
  font-size: 35px;
}

body p {
  font-size: 22px;
}